@import url('https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap');
@import './buttons.css';


body {
    background-color: #F5C2EC;
    font-family: 'Zen Loop', cursive;
    text-align: center;
}
.wrapper {
    max-inline-size: 900px;
    margin: auto;
}
h1 {
    /* para que el ancho abarque solo el elpacio que necesite el texto */
    display: inline-block;
    /* para que después pueda mover las lineas de los costados en base a la posicion del elemento */
    position: relative;
    color:white;
    font-size: 50px;
    padding-bottom: 0;;
}

h1::after, h1::before {
    content:'';
    position:absolute;
    width:120px;
    height:3px;
    background-color:#C2F5CB;
    ;
    top: 0.6em;
}
h1::before {
    left:-140px;
}
h1::after {
    right:-140px;
}
.player {
    margin-block-start: 50px;
    /* border: 10px solid red; */
    position: relative;
}
.player video {
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    /* se aplica al valor de las imagenes. La imagen se expande un poco más para llenar la proporción de 16/9 */
    object-fit: cover;
    
}
.player-title {
    color:white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}
.player-actions {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  espacio entre elementos */
    gap: 20px;
    /* z-index: 2;  PARA PONER ADELANTE EL VIDEO */
}
.player-progress {
    /* background: yellow; */
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
}
.player-progress input {
    flex: 1;
}

.player-overlay {
    position: absolute;
    /* para que los botones se expandan hacia los extremos */
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
    /* z-index: 10; */
}

.player:hover .player-overlay {
    opacity: 1;
}